body{
    margin: 0;
    background-color: #fff;
}

img{
    max-width: 100%;
}

body{
display: flex;
flex-direction: column;
min-height: 100vh;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.5em;    
    padding: 5px;
    margin-top: 20px;

}

p{
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

/* -------------------------- Top Bar -------------------------- */

.top-bar{
    background-color:#253137;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
}

.top-bar__logo{
    height: 80px;
}

.top-bar__toggle-menu{
    height: 30px;
    cursor: pointer;
}

.lema{
    font-size: 1em;
    padding: 8px;
    font-weight: 500;
    text-align: center;
    background-color: #fabf2b;
    margin: 0;
}

/* -------------------------- Main Menu -------------------------- */

.main-menu{ 
    z-index: 0;
    list-style: none;
    margin: 0;    
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    background-color: #fabf2b;
    transform: translateY(-150%);
    transition: 0.2s;
    position: absolute;
    width: 100%;
    z-index: 5;
    
}

.menu-show{
    transform: translateY(0%);
}

.main-menu a{
    color: black;
   
}

.main-menu__item{
    padding: 10px;
    text-align: center;

}

.main-menu__item:hover{
    background-color: #fdce57;
    width:45vh;
}

/* -------------------------- Juegos -------------------------- */

.tittle-container{
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("../img/tittle-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.section__tittle{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

}

.product{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 25px;
    box-shadow: 1px 1px 8px #02201a3a;
    border-radius: 4px;
    width: auto;
    height: auto;
    transition: 0.3s;    
    max-width: 400px;  
    overflow: auto;  
}

.product:hover{
    box-shadow: 4px 4px 16px #02201a3a;
}

.product__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;    
}

.product-info__tittle{
    font-size: 2em;
    margin: 0;
    text-align: center;
}


/* -------------------------- PC -------------------------- */

@media screen and (min-width:1000px) {
    .section{
  
        flex-direction: row;
        justify-content: center;
    }

    .product__img{
        min-width: auto;
    }

    .top-bar__toggle-menu{
        display: none;
    }

    .main-menu{
        transform: translateY(0);
        position: relative;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        padding-left: 400px;
        padding-right: 400px;
        width: auto;
    }

    .lema{
        display: none;
    }

    .main-menu__item:hover{
        width: auto;
    }
    
    .tittle-container{
        max-height: 50px;
    }

    .section__tittle{
        
        margin-top: 4px;
        
    
    }

    .contact-details{
        display: flex;
        gap: 50px;
    }

    .contact-details div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        font-size: 1.1em;
    }



}

.button{
    width: 215px;
    height: 35px;
    font-size: 1.1em;
    font-weight: 600;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: gray;
    border-radius: 3px;
    background-color: #fabf2b;
    transition: 0.15s ease;
}

.button:hover{
    cursor: pointer;    
    
}

.button:active{
    border-style: none;
}


/* -------------------------- Contacto -------------------------- */

.contact{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1b1d;
    color: #798b95;    
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1em;
}

.contact-details a{
    color: #798b95;
}

.contact-details div h4{
    margin: 2px;
}

.fa-whatsapp-square{
    font-size: 100px;
    color: #25D366;
}

.fa-whatsapp-square:hover{
    color: #58e38b;
}




/* -------------------------- Footer -------------------------- /
Para poner el futer abajo aunque el body sea menos que el tamaño de la pantalla hay que:
- darle display flex al body
- darle flexdirection: column al body
- darle margin-top:auto al footer
/ -------------------------- Footer -------------------------- */
.footer{
    background-color: #253137;
    padding: 10px;
    margin-top: auto;
}

.footer__menu{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer__menu a{
    color: #798b95;
    font-weight: 500;
}



/* -------------------------- Juego -------------------------- */



.juegos__subtittle{
    text-align: center;
    margin-top: -10px;
}

.game{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
}

.n-attemps{
 margin-bottom: -10px;
 font-size: 1em;
}

.square{
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: auto;
    width: auto;
    border: solid black 1px;
    margin-top: 20px;
}

.square__button{
    border: solid rgba(0, 0, 0, 0.278) 1px;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.green{
    background-color: rgb(167, 255, 174);
}

.red{
    background-color: rgb(254, 176, 176);
}

.head-color{
    background-color: rgb(169, 251, 219);

}

.yellow{
    background-color: #ffee8b;
}

.win{
    background-color: plum;
}

.reset-button{
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: #c4f9ff;
    box-shadow: 2px 2px 2px #020e033a;
    border: solid 2px #40e3f5;
    font-size: 1em;
}

.reset-button:active{
    box-shadow: none;
}

/* -------------------------- Winn Pannel -------------------------- */

.win-pannel{
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 30px;
    margin-left: 30px; 
}

.share-button-container{
    display: flex;
    padding: 16px;
    box-shadow: 0 4px 8px #00000043;
    margin-top: 10px;
}

.share-button-container a i{
    font-size: 32px;
}

.share-button-container a{
    margin: 0px 12px;
    transition: 500ms;
    cursor: pointer;
}

.share-button-container a:hover{
    transform: scale(1.2);
}

.share-button-container .fa-facebook{
    color:#1877f2;
}

.share-button-container .fa-twitter{
    color:#1da1f2;
}

.share-button-container .fa-linkedin{
    color:#0077b5;
}

.share-button-container .fa-whatsapp{
    color:#25d366;
}

.share-button-container .fa-share{
    color: rgb(75, 92, 239);
}

.share-button-container .fa-telegram{
    color: #0088cc;
}


